footer {
  position: absolute;
  top: 460em;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 40px 0 40px;
  border-top: 1px solid rgba(98, 122, 161, 0.3019607843);
}
footer .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
footer .texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
footer .texts .copyright .right {
  font-size: 14px;
  font-weight: 400;
  color: #627aa1;
}
footer .texts .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 20px;
}
footer .texts .links .text-link {
  font-size: 14px;
  font-weight: 400;
  color: #627aa1;
}
footer .texts .links .lang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer .texts .links .lang .language {
  font-size: 14px;
  font-weight: 400;
  color: #627aa1;
  display: flex;
}
footer .texts .links .lang .language .language__listitemdrop {
  position: absolute;
  top: -6.5em;
  bottom: 50em;
  left: 80em;
  right: 0;
  box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 10px;
  width: 12rem;
  height: 7.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-in-out;
}
footer .texts .links .lang .language .language__listitemdrop .list__drop {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
}
footer .texts .links .lang .language .language__listitemdrop .list__drop:hover {
  background-color: #2977d7;
  color: #fff;
}
footer .texts .links .lang .language:hover .language__listitemdrop {
  opacity: 1;
  visibility: visible;
}
footer .texts .links .lang .language:focus .language__listitemdrop {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  footer {
    top: 485em;
    width: 955px;
  }
}
@media (max-width: 375px) {
  footer {
    top: 900em;
    width: 955px;
  }
  footer .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }
  footer .card img {
    width: 150px;
  }
  footer .card .media img {
    width: 65px;
  }
  footer .texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  footer .texts .copyright .right {
    font-size: 30px;
  }
  footer .texts .copyright .right span {
    display: none;
  }
  footer .texts .links {
    gap: 20px;
    padding-top: 0;
  }
  footer .texts .links .text-link {
    font-size: 30px;
  }
  footer .texts .links .text-link span {
    display: none;
  }
  footer .texts .links .lang {
    display: none;
  }
}/*# sourceMappingURL=footer.css.map */