@import "landing-mixin";

.landing {
  position: absolute;
  top: 380em;

  .title-section {
    @include content-column;
    margin-left: 100px;

    .description {
      @include content-row;
      width: 880px;
      font-size: 24px;
      font-weight: 700;
      line-height: 33px;
      text-align: center;
    }
  }

  .frames {
    @include content-column;
    margin-top: 50px;
    .frame1 {
      @include content-row;
      gap: 30px;

      .process {
        margin-left: 100px;
      }

      .advice {
        .title {
          @include content-row;
          .text {
            @include margin;
            display: flex;
            font-size: 32px;
            font-weight: 900;
            color: #1e293b;

            .span {
              color: #2977d7;
            }
          }
        }
        .description {
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          width: 570px;
        }
      }
    }

    .frame2 {
      @include content-row;
      gap: 30px;
      margin-top: 80px;

      .advice {
        margin-left: 120px;
        .title {
          @include content-row;
          .text {
            @include margin;
            display: flex;
            font-size: 32px;
            font-weight: 900;
            color: #1e293b;

            .span {
              color: #2977d7;
            }
          }
        }
        .description {
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          width: 570px;
        }
      }
    }

    .frame2-2 {
      display: none;
    }

    .frame2-1 {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .landing {
    top: 425em;
    left: 0;
    right: 0;
    width: 1035px;

    .title-section {
      @include margin;
      .description {
        font-size: 26px;
      }
    }

    .frames {
      .frame1 {
        .process {
          @include margin;
          width: 357px;
        }

        .advice {
          .title {
            width: 531px;
            .text {
              font-size: 30px;
              width: 521px;
            }
          }
          .description {
            width: 470px;
          }
        }
      }

      .frame2 {
        gap: 0;
        .process {
          @include margin;
          width: 357px;
        }

        .advice {
          @include margin;
          width: 5;
          .title {
            width: 550px;
            .text {
              font-size: 30px;
              width: 541px;
            }
          }
          .description {
            width: 470px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .landing {
    position: absolute;
    top: 11600px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1035px;

    .title-section {
      .AI {
        width: 170px;
      }
      .description {
        font-size: 40px;
        line-height: 58px;
        font-weight: 400;
      }
    }

    .frames {
      margin-top: 0;
      .frame2-1 {
        display: block;
        @include content-column;
        gap: 100px;
        margin-top: 80px;
        width: 1035px;

        .process {
          width: 650px;
        }

        .advice {
          @include content-column;

          img {
            width: 80px;
          }
          .title {
            @include content-row;
            .text {
              @include margin;
              display: flex;
              font-size: 50px;
              font-weight: 900;
              margin-top: 50px;

              .span {
                color: #2977d7;
              }
            }

            img {
              width: 13px;
              margin-top: 55px;
            }
          }
          .description {
            font-size: 40px;
            font-weight: 400;
            line-height: 58px;
            width: 800px;
            text-align: center;
          }
        }
      }

      .frame1 {
        display: none;
      }

      .frame2 {
        display: none;
      }

      .frame2-2 {
        display: block;
        @include content-column;
        gap: 100px;
        margin-top: 80px;
        width: 1035px;

        .process {
          width: 650px;
        }

        .advice {
          @include content-column;

          img {
            width: 80px;
          }
          .title {
            @include content-row;
            .text {
              @include margin;
              display: flex;
              font-size: 50px;
              font-weight: 900;
              margin-top: 50px;

              .span {
                color: #2977d7;
              }
            }

            img {
              width: 13px;
              margin-top: 55px;
            }
          }
          .description {
            font-size: 40px;
            font-weight: 400;
            line-height: 58px;
            width: 800px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .landing {
    left: 0;
    right: 0;
    width: auto;
  }
}
