@import "how-mixin";

.how {
  position: absolute;
  top: 300em;

  .title-section {
    @include content-column;

    .title {
      @include content-row;

      .text {
        font-size: 40px;
        font-weight: 900;

        .span {
          color: #2977d7;
        }
      }
    }

    .description {
      @include margin;
      width: 665px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
    }
  }

  .steps-section {
    @include content-column;
    margin-top: 60px;
    .step {
      @include margin;
      font-size: 18px;
      font-weight: 600;
      color: #2977d7;
    }

    .pages {
      @include content-row;
      gap: 65px;

      .text {
        font-size: 32px;
        font-weight: 700px;
        color: #1e293b;
      }
    }
  }

  .images {
    @include content-row;
    margin-left: 45px;

    .panel3 {
      display: none;
    }
  }

  .description {
    @include content-row;

    .des {
      @include margin;
      width: 775px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .how {
    width: 1035px;
    top: 360em;
    left: 0;
    right: 0;

    .title-section {
      .title {
        height: 70px;
      }
    }

    .description {
      .des {
        margin-top: 490px;
        font-size: 22px;
        width: 845px;
      }
    }

    .images {
      margin-left: 0px;

      .panel1 {
        position: absolute;
        top: 320px;
        width: 870px;
        left: 70px;
        right: 0;
      }

      .panel2 {
        display: none;
      }

      .panel3 {
        position: absolute;
        display: block;
        width: 140px;
        top: 315px;
        left: 895px;
      }
    }
  }
}

@media (max-width: 375px) {
  .how {
    top: 635em;
    left: 0;
    right: 0;

    .title-section {
      display: flex;
      gap: 30px;
      .title {
        height: 70px;

        .text {
          font-size: 60px;
          font-weight: 900;
        }

        img {
          width: 14px;
        }
      }

      .description {
        font-size: 40px;
        line-height: 58px;
        font-weight: 400;
        width: 800px;
      }
    }

    .steps-section {
      margin-top: 60px;
      .step {
        @include margin;
        font-size: 40px;
        font-weight: 600;
      }

      .pages {
        gap: 115px;

        .text {
          font-size: 45px;
          font-weight: 700px;
        }

        img {
          width: 80px;
        }
      }
    }

    .description {
      .des {
        margin-top: 520px;
        font-size: 40px;
        line-height: 58px;
        font-weight: 400;
        width: 845px;
      }
    }

    .images {
      margin-left: 0px;

      .panel1 {
        position: absolute;
        top: 530px;
        width: 970px;
        left: 30px;
        right: 0;
      }
      .panel3 {
        display: none;
      }
    }
  }
}
