.how {
  position: absolute;
  top: 300em;
}
.how .title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .title-section .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.how .title-section .title .text {
  font-size: 40px;
  font-weight: 900;
}
.how .title-section .title .text .span {
  color: #2977d7;
}
.how .title-section .description {
  margin: 0;
  padding: 0;
  width: 665px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.how .steps-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.how .steps-section .step {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  color: #2977d7;
}
.how .steps-section .pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
.how .steps-section .pages img {
  cursor: pointer;
}
.how .steps-section .pages .text {
  font-size: 32px;
  font-weight: 700px;
  color: #1e293b;
}
.how .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}
.how .images .panel3 {
  display: none;
}
.how .images .panel4 {
  display: none;
}
.how .description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.how .description .des {
  margin: 0;
  padding: 0;
  width: 775px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .how {
    width: 1035px;
    top: 360em;
    left: 0;
    right: 0;
  }
  .how .title-section .title {
    height: 70px;
  }
  .how .description .des {
    margin-top: 490px;
    font-size: 22px;
    width: 845px;
  }
  .how .images {
    margin-left: 0px;
  }
  .how .images .panel1 {
    position: absolute;
    top: 320px;
    width: 870px;
    left: 70px;
    right: 0;
  }
  .how .images .panel2 {
    display: none;
  }
  .how .images .panel3 {
    position: absolute;
    display: block;
    width: 140px;
    top: 315px;
    left: 895px;
  }
}
@media (max-width: 375px) {
  .how {
    top: 635em;
    left: 0;
    right: 0;
  }
  .how .title-section {
    display: flex;
    gap: 30px;
  }
  .how .title-section .title {
    height: 70px;
  }
  .how .title-section .title .text {
    font-size: 60px;
    font-weight: 900;
  }
  .how .title-section .title img {
    width: 14px;
  }
  .how .title-section .description {
    font-size: 40px;
    line-height: 58px;
    font-weight: 400;
    width: 800px;
  }
  .how .steps-section {
    margin-top: 60px;
  }
  .how .steps-section .step {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }
  .how .steps-section .pages {
    gap: 115px;
  }
  .how .steps-section .pages .text {
    font-size: 45px;
    font-weight: 700px;
  }
  .how .steps-section .pages img {
    width: 80px;
  }
  .how .description .des {
    margin-top: 520px;
    font-size: 40px;
    line-height: 58px;
    font-weight: 400;
    width: 845px;
  }
  .how .images {
    margin-left: 0px;
  }
  .how .images .panel1 {
    position: absolute;
    top: 530px;
    width: 970px;
    left: 30px;
    right: 0;
  }
  .how .images .panel3 {
    display: none;
  }
}
@media (min-width: 1920px) {
  .how {
    left: 0;
    right: 0;
    width: auto;
  }
  .how .images .panel1 {
    margin-left: 330px;
  }
  .how .images .panel2 {
    display: none;
  }
  .how .images .panel4 {
    display: block;
  }
}/*# sourceMappingURL=how.css.map */