nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  height: 72px;
  background-color: white;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.37);
  color: #1e293b;
}
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .container .logo {
  height: 50px;
  padding-right: 425px;
}
nav .container .menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 34px;
  gap: 32px;
  font-weight: 500;
  padding-right: 260px;
}
nav .container .menus .texts {
  cursor: pointer;
  text-decoration: none;
  color: #1e293b;
}
nav .container .menus .text-about {
  cursor: pointer;
  border-bottom: solid 5px #2977d7;
  border-radius: 5px;
}
nav .container .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}
nav .container .actions .lang {
  display: flex;
  cursor: pointer;
}
nav .container .actions .lang .language {
  display: flex;
  position: relative;
}
nav .container .actions .lang .language .language__listitemdrop {
  position: absolute;
  top: 2.3rem;
  left: -1rem;
  box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 10px;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease-in-out;
}
nav .container .actions .lang .language .language__listitemdrop .list__drop {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
}
nav .container .actions .lang .language .language__listitemdrop .list__drop:hover {
  background-color: #2977d7;
  color: #fff;
}
nav .container .actions .lang .language:hover .language__listitemdrop {
  opacity: 1;
  visibility: visible;
}
nav .container .actions .lang .language:focus .language__listitemdrop {
  opacity: 1;
  visibility: visible;
}
nav .container .actions .button {
  background-color: #2977d7;
  color: white;
  width: 100px;
  height: 24px;
  padding: 9px 24px 9px 24px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
nav .container .actions .button .login {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}
nav .list .menu-button {
  display: none;
}
nav .sidebar {
  margin: 0;
  padding: 0;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  position: fixed;
  top: 0;
  left: 700px;
  right: -330px;
  height: 100vh;
  min-width: 250px;
  box-shadow: -10px 0 10px rgba(122, 122, 122, 0.096);
  background: rgb(255, 255, 255);
  list-style: none;
  display: none;
  z-index: 1;
  font-family: Lato;
}
nav .sidebar .list {
  padding-top: 30px;
}
nav .sidebar .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  width: 255px;
  margin-top: 20px;
}
nav .sidebar .actions .lang {
  display: flex;
  cursor: pointer;
}
nav .sidebar .actions .lang .language {
  display: flex;
}
nav .sidebar .button {
  background-color: #2977d7;
  color: white;
  width: 100px;
  height: 24px;
  padding: 9px 24px 9px 24px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
nav .sidebar .button .login {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  nav {
    width: 1035px;
  }
  nav .container .logo {
    height: 50px;
    padding-right: 680px;
  }
  nav .container .menus {
    display: none;
  }
  nav .container .actions {
    display: none;
  }
  nav .container .list .menu-button {
    display: block;
  }
}
@media (max-width: 375px) {
  nav {
    width: 1149px;
    z-index: 2;
    height: 100px;
  }
  nav .container .logo img {
    width: 175px;
    height: 70px;
  }
  nav .container .menus {
    display: none;
  }
  nav .container .actions {
    display: none;
  }
  nav .container .actions .button {
    background-color: #2977d7;
    color: white;
    width: 130px;
    height: 24px;
    padding: 14px 28px 14px 28px;
  }
  nav .container .list .menu-button {
    display: block;
  }
  nav .container .list .menu-button svg {
    width: 60px;
    height: 60px;
  }
  nav .sidebar {
    left: 642px;
    right: -330px;
    width: 350px;
    font-size: 30px;
  }
  nav .sidebar .actions {
    display: flex;
    flex-direction: column;
  }
  nav .sidebar .actions .button {
    background-color: #2977d7;
    color: white;
    width: 180px;
    height: 30px;
    padding: 14px 28px 14px 28px;
  }
  nav .sidebar .actions .button p {
    width: 160px;
  }
  nav .sidebar .actions .lang img {
    width: 40px;
  }
}
@media (min-width: 1920px) {
  nav .container .logo {
    padding-right: 700px;
  }
  nav .container .menus {
    padding-right: 520px;
  }
}/*# sourceMappingURL=navbar.css.map */