nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color: white;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.37);
  color: #1e293b;
}
nav .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .container .logo {
  height: 50px;
  padding-right: 425px;
}
nav .container .menus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 34px;
  gap: 32px;
  font-weight: 500;
  padding-right: 260px;
}
nav .container .menus .texts {
  cursor: pointer;
}
nav .container .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}
nav .container .actions .lang {
  display: flex;
  cursor: pointer;
}
nav .container .actions .lang .language {
  display: flex;
}
nav .container .actions .button {
  background-color: #2977d7;
  color: white;
  width: 100px;
  height: 24px;
  padding: 9px 24px 9px 24px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
nav .container .actions .button .login {
  margin: 0;
  padding: 0;
}
nav .list .menu-button {
  display: none;
}
nav .sidebar {
  margin: 0;
  padding: 0;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 700px;
  right: -330px;
  height: 100vh;
  min-width: 250px;
  box-shadow: -10px 0 10px rgba(122, 122, 122, 0.096);
  background: rgb(255, 255, 255);
  list-style: none;
  display: none;
  z-index: 1;
  font-family: Lato;
}
nav .sidebar .list {
  padding-top: 30px;
}
nav .sidebar .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}
nav .sidebar .actions .lang {
  display: flex;
  cursor: pointer;
}
nav .sidebar .actions .lang .language {
  display: flex;
}
nav .sidebar .actions .button {
  background-color: #2977d7;
  color: white;
  width: 100px;
  height: 24px;
  padding: 9px 24px 9px 24px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
nav .sidebar .actions .button .login {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  nav {
    width: 1035px;
  }
  nav .container .logo {
    height: 50px;
    padding-right: 680px;
  }
  nav .container .menus {
    display: none;
  }
  nav .container .actions {
    display: none;
  }
  nav .container .list .menu-button {
    display: block;
  }
}
@media (max-width: 375px) {
  nav {
    z-index: 2;
    height: 100px;
  }
  nav .container .logo img {
    width: 175px;
    height: 70px;
  }
  nav .container .menus {
    display: none;
  }
  nav .container .actions {
    display: none;
  }
  nav .container .actions .button {
    background-color: #2977d7;
    color: white;
    width: 130px;
    height: 24px;
    padding: 14px 28px 14px 28px;
  }
  nav .container .list .menu-button {
    display: block;
  }
  nav .container .list .menu-button svg {
    width: 60px;
    height: 60px;
  }
  nav .sidebar {
    left: 624px;
    right: -330px;
    width: 350px;
    font-size: 30px;
  }
  nav .sidebar .actions .button {
    background-color: #2977d7;
    color: white;
    width: 130px;
    height: 30px;
    padding: 14px 28px 14px 28px;
  }
  nav .sidebar .actions .lang img {
    width: 40px;
  }
}
@media (min-width: 1920px) {
  nav .container .logo {
    padding-right: 700px;
  }
  nav .container .menus {
    padding-right: 520px;
  }
}/*# sourceMappingURL=navbar.css.map */