@import "navbar-mixin";

nav {
  @include content-row;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  height: 72px;
  background-color: white;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.37);
  color: #1e293b;

  .container {
    @include content-row;
    .logo {
      height: 50px;
      padding-right: 425px;
    }

    .menus {
      @include content-row;
      width: 135px;
      height: 34px;
      gap: 32px;
      font-weight: 500;
      padding-right: 260px;

      .texts {
        cursor: pointer;
      }

      .text-about {
        cursor: pointer;
        text-decoration: none;
        color: #1e293b
      }
    }

    .actions {
      @include content-row;
      gap: 16px;
      font-weight: 500;

      .lang {
        display: flex;
        cursor: pointer;

        .language {
          display: flex;
          position: relative;

          .language__listitemdrop {
            position: absolute;
            top: 2.3rem;
            left: -1rem;
            box-shadow: 0 0 10px gray;
            background-color: white;
            border-radius: 10px;
            width: 12rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 400ms ease-in-out;

            .list__drop {
              list-style: none;
              padding: 0.5rem 1rem;
              border-radius: 10px;
              transition: background-color 200ms ease-in-out;
              transition: color 200ms ease-in-out;
              font-weight: 600;
            }
            .list__drop:hover {
              background-color: #2977d7;
              color: #fff;
            }
          }
        }

        .language:hover .language__listitemdrop {
          opacity: 1;
          visibility: visible;
        }
        .language:focus .language__listitemdrop {
          opacity: 1;
          visibility: visible;
        }
      }

      .button {
        background-color: #2977d7;
        color: white;
        width: 100px;
        height: 24px;
        padding: 9px 24px 9px 24px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;

        .login {
          @include margin;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .list {
    .menu-button {
      display: none;
    }
  }

  .sidebar {
    @include margin;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    position: fixed;
    top: 0;
    left: 700px;
    right: -330px;
    height: 100vh;
    min-width: 250px;
    box-shadow: -10px 0 10px rgba(122, 122, 122, 0.096);
    background: rgb(255, 255, 255);
    list-style: none;
    display: none;
    z-index: 1;
    font-family: Lato;
    .list {
      padding-top: 30px;
    }

    .actions {
      @include content-row;
      gap: 16px;
      font-weight: 500;
      width: 255px;
      margin-top: 20px;

      .lang {
        display: flex;
        cursor: pointer;

        .language {
          display: flex;

          // .language__listitemdrop {
          //   position: absolute;
          //   top: 2.3rem;
          //   left: -1rem;
          //   box-shadow: 0 0 10px gray;
          //   background-color: white;
          //   border-radius: 10px;
          //   width: 12rem;
          //   padding: 1rem;
          //   display: flex;
          //   flex-direction: column;
          //   gap: 0.5rem;
          //   opacity: 0;
          //   visibility: hidden;
          //   transition: opacity 400ms ease-in-out;
          //   z-index: 3;

          //   .list__drop {
          //     border-radius: 10px;
          //     transition: background-color 200ms ease-in-out;
          //   }
          // }
          // .language:hover .language__listitemdrop,
          // .language:focus .language__listitemdrop  {
          //   opacity: 1;
          //   visibility: visible;
          // }
        }
      }
    }

    .button {
      background-color: #2977d7;
      color: white;
      width: 100px;
      height: 24px;
      padding: 9px 24px 9px 24px;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;

      .login {
        @include margin;
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    width: 1035px;

    .container {
      .logo {
        height: 50px;
        padding-right: 680px;
      }

      .menus {
        display: none;
      }

      .actions {
        display: none;
      }
      .list {
        .menu-button {
          display: block;
        }
      }
    }

    // .sidebar {
    //   .actions {
    //     .lang {
    //       .language {
    //         position: relative;

    //         .language__listitemdrop {
    //           position: absolute;
    //           top: 2.3rem;
    //           left: -1rem;
    //           box-shadow: 0 0 10px gray;
    //           background-color: white;
    //           border-radius: 10px;
    //           width: 12rem;
    //           padding: 1rem;
    //           display: flex;
    //           flex-direction: column;
    //           gap: 0.5rem;
    //           opacity: 0;
    //           visibility: hidden;
    //           transition: opacity 400ms ease-in-out;

    //           .list__drop {
    //             list-style: none;
    //             padding: 0.5rem 1rem;
    //             border-radius: 10px;
    //             transition: background-color 200ms ease-in-out;
    //           }
    //         }
    //         .language:hover .language__listitemdrop {
    //           opacity: 1;
    //           visibility: visible;
    //         }
    //         .language:focus .language__listitemdrop {
    //           opacity: 1;
    //           visibility: visible;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

@media (max-width: 375px) {
  nav {
    z-index: 2;
    height: 100px;

    .container {
      .logo {
        img {
          width: 175px;
          height: 70px;
        }
      }

      .menus {
        display: none;
      }

      .actions {
        display: none;

        .button {
          background-color: #2977d7;
          color: white;
          width: 130px;
          height: 24px;
          padding: 14px 28px 14px 28px;
        }
      }
      .list {
        .menu-button {
          display: block;

          svg {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

    .sidebar {
      left: 624px;
      right: -330px;
      width: 350px;
      font-size: 30px;
      .actions {
        .button {
          background-color: #2977d7;
          color: white;
          width: 130px;
          height: 30px;
          padding: 14px 28px 14px 28px;
        }

        .lang {
          img {
            width: 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  nav {
    .container {
      .logo {
        padding-right: 700px;
      }

      .menus {
        padding-right: 520px;
      }
    }
  }
}
