@import 'login-mixin';

:root {
    --color: #2977D7;
    --color-texts: rgb(255, 136, 0);
    --background-color: #EFF2F6;
    --text: #627AA1;
    --border: #CED6E2;
}

.login-section {
    @include content-column;
    margin-top: 100px;

    .Title {
        @include content-column;

        .title {
            @include margin;
            font-size: 40px;
            font-weight: 900;

            .span {
                color: var(--color);
            }
        }

        .description {
            font-size: 20px;
            font-weight: 400;
            width: 700px;
            text-align: center;
        }
    }

    .login {
        @include content-column;
        margin-top: 100px;
        gap: 24px;

        .email {
            @include button;

            .text {
                @include margin;
                margin-top: 15px;
                @include text;
            }
        }

        .firstname {
            @include button;

            .text {
                @include margin;
                margin-top: 15px;
                @include text;
            }
        }

        .lastname {
            @include button;

            .text {
                @include margin;
                margin-top: 15px;
                @include text;
            }
        }

        .choose {
            @include button;
            gap: 210px;

            .arrow {
                height: 50px;
                @include content-row;
            }

            .text {
                @include margin;
                margin-top: 15px;
                @include text;
            }
        }


        .description {
            @include button;
            height: 135px;

            .text {
                @include margin;
                @include text;
            }
        }

        .button {
            @include content-column;
            padding: 8px 12px 8px 12px;
            width: 427px;
            height: 48px;
            background-color: var(--color);
            border-radius: 8px;
            cursor: pointer;

            .text {
                color: white;
                font-size: 17px;
            }
        }

        .own {
            @include content-row;
            gap: 5px;

            .text {
                font-size: 15px;

                .span {
                    color: var(--color-texts);
                }
            }
        }
    }
}