.educator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 23em;
  background-color: rgba(221, 233, 249, 0.6156862745);
  height: 550px;
  border-top: 1px solid rgba(41, 119, 215, 0.3607843137);
  border-bottom: 1px solid rgba(41, 119, 215, 0.3607843137);
}
.educator .center-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0;
  left: -200px;
}
.educator .center-frame .texts-section {
  width: 695px;
}
.educator .center-frame .texts-section .title-section .title .meta {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
}
.educator .center-frame .texts-section .title-section .title .title-braket {
  display: flex;
  font-size: 40px;
  font-weight: 900;
  color: #1e293b;
}
.educator .center-frame .texts-section .title-section .title .title-braket .title {
  margin: 0;
  padding: 0;
}
.educator .center-frame .texts-section .title-section .title .title-braket .span {
  color: #2977d7;
}
.educator .center-frame .texts-section .deacription {
  width: 500px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #1e293b;
}
.educator .center-frame .texts-section .buttons {
  display: flex;
  gap: 8px;
}
.educator .center-frame .texts-section .buttons .regular {
  width: 130px;
  height: 25px;
  padding: 14px 24px 14px 24px;
  border-radius: 6px;
  background-color: #2977d7;
  text-align: center;
  color: white;
  cursor: pointer;
}
.educator .center-frame .texts-section .buttons .learn {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.educator .center-frame .texts-section .buttons .learn .text {
  text-align: center;
  height: 25px;
  color: #2977d7;
  font-size: 18px;
  font-weight: 500;
}
.educator .center-frame .texts-section .buttons .learn .arrow {
  width: 30px;
  height: 65px;
}
.educator .center-frame .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -780px;
  right: 0;
  top: -210px;
  bottom: 0;
}
.educator .center-frame .images .recognition {
  width: 244px;
  position: absolute;
  left: 950px;
  top: 35px;
}
.educator .center-frame .images .vision {
  position: absolute;
  left: 760px;
  top: 200px;
  z-index: 2;
}
.educator .center-frame .images .educator-vision {
  position: absolute;
  left: 825px;
  top: 30px;
}
.educator .center-frame .images .recognition-respensive {
  display: none;
}
.educator .center-frame .images .vision-respensive {
  display: none;
}

@media (max-width: 768px) {
  .educator {
    top: 60em;
    width: 980px;
    height: 650px;
  }
  .educator .center-frame {
    width: 680px;
    left: -150px;
  }
  .educator .center-frame .texts-section {
    width: 650px;
    margin-left: 120px;
  }
  .educator .center-frame .texts-section .title-section {
    width: 650px;
  }
  .educator .center-frame .texts-section .title-section .title {
    width: 690px;
  }
  .educator .center-frame .texts-section .title-section .title .meta {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  .educator .center-frame .texts-section .title-section .title .title-braket {
    width: 680px;
  }
  .educator .center-frame .texts-section .title-section .title .title-braket .title {
    width: 668px;
  }
  .educator .center-frame .texts-section .deacription {
    font-size: 22px;
    width: 410px;
  }
  .educator .center-frame .images .recognition {
    display: none;
  }
  .educator .center-frame .images .vision {
    display: none;
  }
  .educator .center-frame .images .recognition-respensive {
    position: absolute;
    display: block;
    width: 250px;
    left: 710px;
    top: 95px;
  }
  .educator .center-frame .images .vision-respensive {
    position: absolute;
    display: block;
    top: 255px;
    left: 570px;
    z-index: 1;
  }
  .educator .center-frame .images .educator-vision {
    width: 94px;
    left: 572px;
    top: 120px;
  }
}
@media (max-width: 376px) {
  .educator {
    width: 895px;
    top: 97em;
    height: 105em;
  }
  .educator .center-frame {
    top: -360px;
  }
  .educator .center-frame .texts-section {
    width: 650px;
    margin-left: 0px;
  }
  .educator .center-frame .texts-section .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 645px;
    top: -150px;
    left: 200px;
    right: 0;
    bottom: 495px;
    text-align: center;
  }
  .educator .center-frame .texts-section .title-section .title {
    width: 820px;
  }
  .educator .center-frame .texts-section .title-section .title .meta {
    font-size: 35px;
    width: 750px;
  }
  .educator .center-frame .texts-section .title-section .title .title-braket {
    width: 770px;
    font-size: 45px;
    margin-bottom: 370px;
  }
  .educator .center-frame .texts-section .title-section .title .title-braket .title {
    width: 770px;
  }
  .educator .center-frame .texts-section .title-section .title .title-braket img {
    width: 14px;
  }
  .educator .center-frame .texts-section .deacription {
    position: absolute;
    top: 530px;
    left: 105px;
    width: 795px;
    height: 100px;
    font-size: 33px;
    line-height: 47px;
    font-weight: 500;
    text-align: center;
  }
  .educator .center-frame .texts-section .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 873px;
    position: absolute;
    top: 880px;
    left: 55px;
    right: 0;
    gap: 0;
  }
  .educator .center-frame .texts-section .buttons .regular {
    width: 250px;
    height: 50px;
    padding: 35px 24px 14px 24px;
    font-size: 30px;
    font-weight: 400;
  }
  .educator .center-frame .texts-section .buttons .learn {
    width: 200px;
  }
  .educator .center-frame .texts-section .buttons .learn .text {
    height: 25px;
    font-size: 30px;
    font-weight: 400;
  }
  .educator .center-frame .texts-section .buttons .learn .arrow {
    display: none;
  }
  .educator .center-frame .images {
    top: 0;
    left: -750px;
  }
  .educator .center-frame .images .recognition {
    display: none;
  }
  .educator .center-frame .images .vision {
    display: none;
  }
  .educator .center-frame .images .recognition-respensive {
    position: absolute;
    display: block;
    width: 520px;
    left: 460px;
    top: -220px;
  }
  .educator .center-frame .images .vision-respensive {
    position: absolute;
    display: block;
    width: 580px;
    top: 85px;
    left: 170px;
    z-index: 1;
  }
  .educator .center-frame .images .educator-vision {
    left: 225px;
    top: -190px;
    width: 180px;
  }
}
@media (min-width: 1920px) {
  .educator {
    min-width: 2004px;
  }
}/*# sourceMappingURL=educator.css.map */